## **Accesibilidad De Internet**

En este notebook nos haremos un analisis exploratorio de los datos que se encuentran en el Dataset. Nuestro objetivo principal es aplicar metodos matematicos y el uso de graficos con el fin de encontrar informacion util como:

* Outliers
* Quartiles
* Metodos estadisticos (Moda, Media, Mediana, Varianza, Desviacion Estandar)
* Stack Ranks

Nuestro codigo se repartira en distintas secciones teniendo una similitud con el patron Modelo - Vista - Controlador (MVC):

Celda de librerias.
Celda de acciones.
Celda de vistas.

## **Enfoque**

Los datos que tomaremos para el ejercicio sera:

* "data\Internet_Penetracion.csv"
* "data\Internet_Accesos-por-tecnologia.csv"
* "data\Internet_BAF.csv"

Esto nos permitira observar la penetracion que se ha tenido durante los ultimos 8 años, el tipo de tecnologia utilizado por provincia y los tipos de accesos mas recurrentes dentro de las provincias. De esta manera podremos tener una perspectiva global de como Argentina se ha desarrollado durante esta ultima decada a nivel tecnologico y de conectividad. Este ejercicio solo pretender observar el desarrollo del uso del internet fijo o de hogar.


## 1. Librerias
Esta celda nos ayudara a cargar las librerias necesarias y extraer los Datasets necesarios.

In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

sns.set() #Estandarizamos los diseños de la grafica

#Carga del dataset

inter_hogar = pd.read_csv("C:\\Users\\andre\\Documents\\Py Codes\\data\\Internet_Penetracion.csv", sep=",")
inter_tech = pd.read_csv("C:\\Users\\andre\\Documents\\Py Codes\\data\\Internet_BAF.csv",sep=",")
inter_acess = pd.read_csv("C:\\Users\\andre\\Documents\\Py Codes\\data\\Internet_Accesos-por-conectividad.csv",sep=",")

In [17]:
inter_tech.head()

    Año  Trimestre        Provincia  Banda ancha fija  Dial up  Total
0  2022          4     Buenos Aires                 5      6.0      5
1  2022          4  Capital Federal                 2      2.0      2
2  2022          4        Catamarca                71      1.0     71
3  2022          4            Chaco               144      5.0    144
4  2022          4           Chubut               168    904.0    169

In [16]:
inter_acess.head()

,Año,Trimestre,Provincia,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total
0,2022,4,Buenos Aires,326.0,3.0,1.0,130.0,72.0,5.0
1,2022,4,Capital Federal,139.0,1.0,139.0,5.0,32.0,2.0
2,2022,4,Catamarca,9.0,11.0,47.0,1.0,2.0,71.0
3,2022,4,Chaco,25.0,61.0,47.0,8.0,3.0,144.0
4,2022,4,Chubut,45.0,74.0,10.0,31.0,9.0,169.0

In [15]:
inter_hogar.head()

,Año,Trimestre,Accesos por cada 100 hogares,Accesos por cada 100 hab,Periodo
0,2022,4,"77,21","24,15",Oct-Dic 2022
1,2022,3,"76,64","23,95",Jul-Sept 2022
2,2022,2,"75,97","23,72",Abr-Jun 2022
3,2022,1,"73,88","23,05",Ene-Mar 2022
4,2021,4,"73,18","22,81",Oct-Dic 2021

## 2. Acciones
Esta celda nos ayudara a crear todas las funciones que se vayan requiriendo durante el ejercicio.

In [26]:
#Funcion que crea diccionarios para poder contar los tipos de datos que se encuentran en cada dataframe
def diccionario_tipos_datos(dataframe_file):

    dicc_col = {}
    
    for columna in dataframe_file:
        conteo_tipos = dataframe_file[columna].apply(type).value_counts().to_dict()
        dicc_col[columna] = {str(tipo): conteo for tipo, conteo in conteo_tipos.items()}

    return dicc_col

def cambio_a_datetime(dato):

    if pd.isna(dato):
        return None

    try:
        return pd.to_datetime(dato)
    except ValueError:
        return None

## 3. Vistas
Las siguientes celdas se enfocaran en las vistas de los distintos Datasets

## 3.1 Formato de datos y Nulls

Revisemos que los formatos de datos se encuentre de manera correcta y que no existan datos "Null" en las datos que nos interesan

In [25]:
nulos = inter_acess.isnull().sum()
print(f"Cantidad de nulos:\n{nulos}\n")

print("Tipos de datos: ")
diccionario_tipos_datos(inter_acess)

Cantidad de nulos:
Año             0
Trimestre       0
Provincia       1
ADSL            1
Cablemodem      1
Fibra óptica    1
Wireless        1
Otros           1
Total           1
dtype: int64

Tipos de datos:

{'Año': {"<class 'str'>": 865},
 'Trimestre': {"<class 'str'>": 865},
 'Provincia': {"<class 'str'>": 864, "<class 'float'>": 1},
 'ADSL': {"<class 'float'>": 865},
 'Cablemodem': {"<class 'float'>": 865},
 'Fibra óptica': {"<class 'float'>": 865},
 'Wireless': {"<class 'float'>": 865},
 'Otros': {"<class 'float'>": 865},
 'Total': {"<class 'float'>": 865}}